body {
  background-color: #161122;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.header img {
  width: 200px;
  height: 130px;
  padding: 10px;
}

.header h1 {
  color: #ffffff;
  font-size: 32px;
  margin-top: 20px;
}
.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

fieldset {
  border: none;
  margin-top: 40px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
  color: #333333;
  font-size: 18px;
}

input[type="radio"] {
  margin-right: 10px;
}

input[type="submit"] {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  transition: 0.8s;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
