body {
    font-family: Arial, sans-serif;
}

input[type="submit"] {
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #666;
    transition: .3s;
}

#botaoSubmit {
    display: flex;
    justify-content: right;
}